/* static/css/styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 20;
    padding: 0;
}

h1 {
    color: #2c3e50;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
th, td {
    padding: 8px;
    text-align: left;   
    border-bottom: 1px solid #DDD;
}

tr:hover td {background-color: #D6EEEE;}