<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>PCAP Viewer</title>
</head>
<body>
    <div class="tophead">
        <h1>PCAP Viewer</h1>
    </div>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/results">Results</a>
        <a href="/stats">Statistics</a>
        <a class="active">Extracted Data</a>
    </div>
    <h1>Extracted URLs</h1>
    {% for url in url_list %}
    <tr>
        <td>{{ url }}</td>
    </tr>
    {% endfor %}

</body>
</html>
