<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>PCAP Viewer</title>
</head>
<body>
    <div class="tophead">
        <h1>PCAP Viewer</h1>
    </div>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/results">Results</a>
        <a href="/stats">Statistics</a>
        <a class="active">Extracted Data</a>
    </div>
    <div style="margin: 10px;">
    
    {% if url_list %}
        <h1>Extracted URLs from HTTP/S</h1>
        {% for url in url_list %}
        {{ url }}<br>
        {% endfor %}
    {% endif %}

    <h1>Extracted HTTP Credentials</h1>
    <table style="width: 75%">
        <tr>
            <th>Auth Type</th>
            <th>Credentials</th>
        </tr>
    </table>
    {% for cred in cred_list %}
    <table style="width: 75%">
        <tr>
            <td>{{ cred[0] }}</td>
            <td>{{ cred[1] }}</td>
        </tr>
    </table>
    {%endfor%}

    <h1>Extracted FTP Credentials</h1>
    <table style="width: 75%">
        <tr>
            <th>Login</th>
            <th>Password</th>
        </tr>
    </table>
    {% for cred in ftp_cred_list %}
    <table style="width: 75%">
        <tr>
            <td>{{ cred[0] }}</td>
            <td>{{ cred[1] }}</td>
        </tr>
    </table>
    {%endfor%}

    <!-- TODO: handle output of various file types. For now it only prints files paths -->
    <h1>Extracted FTP Files</h1>
    <table style="width: 75%">
        <tr>
            <th>File path</th>
        </tr>
    </table>
    {% for file in ftp_files_list %}
    <table style="width: 75%">
        <tr>
            <td>{{ file }}</td>
        </tr>
    </table>
    {%endfor%}

    <h1>Extracted Images</h1>
    <div class="gallery">
    {% for image_filename in image_filenames %}
    <img src="{{ url_for('main.output_images', filename=image_filename.split('/')[-1]) }}" alt="Extracted Image" style="max-width: 500px; padding: 20px; background:#ddd">
    {% endfor %}
    </div>
    <!-- todo: prettify -->
    </div>
</body>
</html>
