<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>PCAP Viewer</title>
</head>
<body>
    <div class="tophead">
        <h1>PCAP Viewer</h1>
    </div>
    <div class="topnav">
        <a class="active">Home</a>
        <a href="/results">Results</a>
        <a href="/stats">Statistics</a>
        <a href="/extracted">Extracted Data</a>
    </div> 
    <div style="text-align: center;">
    <h1>Upload a PCAP File</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".pcap, .cap" required>
        <input type = "submit" value="Parse PCAP">  
    </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <br>
          {{ message }}
        {% endfor %}
      {% endif %}
    {% endwith %}
    </div>
</body>
</html>
