<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>PCAP Viewer</title>
</head>
<body>
    <div class="tophead">
        <h1>PCAP Viewer</h1>
    </div>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/results">Results</a>
        <a class="active">Statistics</a>
        <a href="/extracted">Extracted Data</a>
    </div> 
    <div style="text-align: center;">
    <h1>Statistics</h1>
    <img src="static/images/src.png" alt="Source plot">
    <img src="static/images/dst.png" alt="Destination plot">
    
    </div>
</body>
</html>
